In [4]:
import numpy as np
import pandas as pd
from collections import defaultdict

In [2]:
df_business = pd.read_csv('../CA_businesses.csv')  
df_reviews = pd.read_csv('../CA_reviews.csv') 
df_tipdata = pd.read_csv('../CA_tipdata.csv') 
df_userdata = pd.read_csv('../CA_userdata.csv')

In [50]:
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101.0,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,noByYNtDLQAra9ccqxdfDw,H&M,827-833 State St,Santa Barbara,CA,93101.0,34.420209,-119.700460,3.0,24,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Women's Clothing, Accessories, Children's Clot...","{'Monday': '11:0-18:0', 'Tuesday': '11:0-18:0'..."
2,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101.0,34.414445,-119.690672,4.0,389,1,"{'RestaurantsTakeOut': 'True', 'NoiseLevel': ""...","Food, Restaurants, Salad, Coffee & Tea, Breakf...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-14:0', '..."
3,nUqrF-h9S7myCcvNDecOvw,Iron Horse Auto Body,825 Cacique St,Santa Barbara,CA,93103.0,34.419620,-119.677032,4.5,32,1,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","Towing, Automotive, Body Shops","{'Monday': '0:0-0:0', 'Tuesday': '8:0-17:0', '..."
4,bYjnX_J1bHZob10DoSFkqQ,Tinkle Belle Diaper Service,NaN,Santa Barbara,CA,93101.0,34.420334,-119.710749,5.0,17,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Parenting Classes, Maternity Wear, Fashion, Ed...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ..."

In [29]:
def get_review_count_business(bid):
    return int(df_business.loc[df_business['business_id'] == bid]['review_count'])

In [5]:
def get_review_count_user(uid):
    return int(df_userdata.loc[df_userdata['user_id'] == uid]['review_count'])

In [38]:
def get_elite_in_year(uid, year):
    elite_years = np.array(list(df_userdata.loc[df_userdata['user_id'] == uid]["elite"])[0].split(","), dtype=int)
    return int(year in elite_years)

In [39]:
def get_yelping_since(uid, curr_year):
    year = int(list(df_userdata.loc[df_userdata['user_id'] == uid]['yelping_since'])[0][:4])
    return curr_year - year

In [40]:
def get_business_stars(bid):
    return int(df_business.loc[df_business['business_id'] == bid]['stars'])

In [43]:
def get_average_stars(uid):
    return float(df_userdata.loc[df_userdata['user_id'] == uid]['average_stars'])

In [47]:
def get_num_elite_years(uid):
    return len(list(df_userdata.loc[df_userdata['user_id'] == uid]["elite"])[0].split(","))

In [58]:
def isNaN(num):
    return num != num

In [6]:
def get_avg_category_ratings(df_business_updated, business_id):
    ohe_values = (df_business_updated.loc[df_business_updated['business_id'] == business_id])[['Restaurantsavg_rating', 'Shoppingavg_rating',
       'Foodavg_rating', 'Home Servicesavg_rating',
       'Health & Medicalavg_rating', 'Event Planning & Servicesavg_rating',
       'Local Servicesavg_rating', 'Beauty & Spasavg_rating',
       'Active Lifeavg_rating', 'Automotiveavg_rating', 'Nightlifeavg_rating',
       'Hotels & Travelavg_rating', 'Barsavg_rating',
       'Arts & Entertainmentavg_rating', 'Professional Servicesavg_rating',
       'Fashionavg_rating', 'Doctorsavg_rating', 'Home & Gardenavg_rating',
       'American (New)avg_rating', 'Mexicanavg_rating',
       'Coffee & Teaavg_rating', 'Hair Salonsavg_rating',
       'Sandwichesavg_rating', 'Breakfast & Brunchavg_rating',
       'Real Estateavg_rating', 'Auto Repairavg_rating',
       'Fitness & Instructionavg_rating']]

    return list(ohe_values.iloc[0])

In [7]:
def get_category(df_business_updated, business_id):
  ohe_values = (df_business_updated.loc[df_business_updated['business_id'] == business_id])[['Restaurants', 'Shopping', 'Food',
       'Home Services', 'Health & Medical', 'Event Planning & Services',
       'Local Services', 'Beauty & Spas', 'Active Life', 'Automotive',
       'Nightlife', 'Hotels & Travel', 'Bars', 'Arts & Entertainment',
       'Professional Services', 'Fashion', 'Doctors', 'Home & Garden',
       'American (New)', 'Mexican', 'Coffee & Tea', 'Hair Salons',
       'Sandwiches', 'Breakfast & Brunch', 'Real Estate', 'Auto Repair',
       'Fitness & Instruction']]
  # ohe_list = 
  return list(ohe_values.iloc[0])

In [5]:
def preprocess_business():
    categories = ['Restaurants', 'Shopping', 'Food', 'Home Services',
                  'Health & Medical', 'Event Planning & Services',
                  'Local Services', 'Beauty & Spas', 'Active Life', 
                  'Automotive', 'Nightlife', 'Hotels & Travel', 'Bars', 
                  'Arts & Entertainment', 'Professional Services', 
                  'Fashion', 'Doctors', 'Home & Garden', 'American (New)', 
                  'Mexican', 'Coffee & Tea', 'Hair Salons', 'Sandwiches', 
                  'Breakfast & Brunch', 'Real Estate', 'Auto Repair', 'Fitness & Instruction']

    avg_category_rating = defaultdict(int)
    all_categories = defaultdict(int)
    num_category_reviews = defaultdict(int)
    df_new = df_business[['categories','stars', 'review_count']]

    
    df_business_updated = df_business.copy()
    
    for categ in categories:
        df_business_updated[categ] = 0

    for idx, row in df_business_updated.iterrows():
        # print(row)
        ll = row['categories']
        ll = str(ll)
        if ll and ll!='nan':
            categs = ll.split(',')
            for categ in categs:
                categ = categ.strip()
                if categ in categories:
                    df_business_updated.at[idx, categ] = 1
    
    for idx, row in df_new.iterrows():
        ll = row['categories']
        ll = str(ll)
        if ll and ll!='nan':
            categs = ll.split(',')
            for categ in categs:
                categ = categ.strip()
                all_categories[categ]+=1
                avg_category_rating[categ] += row['stars']
                num_category_reviews[categ] += row['review_count']

    for key, value in avg_category_rating.items():
        avg_category_rating[key] /= all_categories[key]

    for idx, row in df_business_updated.iterrows():
        for categ in categories:
            if df_business_updated.at[idx, categ] == 1:
                df_business_updated.at[idx, categ+'avg_rating'] = avg_category_rating[categ]
    
    return df_business_updated