In [20]:
import numpy as np
import pandas as pd
from collections import defaultdict

In [118]:
df_business = pd.read_csv('../CA_businesses.csv')  
df_reviews = pd.read_csv('../CA_reviews.csv') 
df_tipdata = pd.read_csv('../CA_tipdata.csv') 
df_userdata = pd.read_csv('../CA_userdata.csv')

In [50]:
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101.0,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,noByYNtDLQAra9ccqxdfDw,H&M,827-833 State St,Santa Barbara,CA,93101.0,34.420209,-119.700460,3.0,24,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Women's Clothing, Accessories, Children's Clot...","{'Monday': '11:0-18:0', 'Tuesday': '11:0-18:0'..."
2,IDtLPgUrqorrpqSLdfMhZQ,Helena Avenue Bakery,"131 Anacapa St, Ste C",Santa Barbara,CA,93101.0,34.414445,-119.690672,4.0,389,1,"{'RestaurantsTakeOut': 'True', 'NoiseLevel': ""...","Food, Restaurants, Salad, Coffee & Tea, Breakf...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-14:0', '..."
3,nUqrF-h9S7myCcvNDecOvw,Iron Horse Auto Body,825 Cacique St,Santa Barbara,CA,93103.0,34.419620,-119.677032,4.5,32,1,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","Towing, Automotive, Body Shops","{'Monday': '0:0-0:0', 'Tuesday': '8:0-17:0', '..."
4,bYjnX_J1bHZob10DoSFkqQ,Tinkle Belle Diaper Service,NaN,Santa Barbara,CA,93101.0,34.420334,-119.710749,5.0,17,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Parenting Classes, Maternity Wear, Fashion, Ed...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ..."

In [55]:
def get_review_count_business(bid):
    return [int(df_business.loc[df_business['business_id'] == bid]['review_count'])]

In [56]:
def get_review_count_user(uid):
    return [int(df_userdata.loc[df_userdata['user_id'] == uid]['review_count'])]

In [128]:
def get_elite_in_year(uid, year):
    val = list(df_userdata.loc[df_userdata['user_id'] == uid]["elite"])
    # print(val)
    if len(val)>1:
        elite_years = np.array(list(df_userdata.loc[df_userdata['user_id'] == uid]["elite"])[0].split(","), dtype=int)
        return [int(year in elite_years)]
    else:
        return [0]

In [58]:
def get_yelping_since(uid, curr_year):
    year = int(list(df_userdata.loc[df_userdata['user_id'] == uid]['yelping_since'])[0][:4])
    return [curr_year - year]

In [59]:
def get_business_stars(bid):
    return [int(df_business.loc[df_business['business_id'] == bid]['stars'])]

In [60]:
def get_average_stars(uid):
    return [float(df_userdata.loc[df_userdata['user_id'] == uid]['average_stars'])]

In [61]:
def get_num_elite_years(uid):
    return [len(list(df_userdata.loc[df_userdata['user_id'] == uid]["elite"])[0].split(","))]

In [70]:
def isNaN(num):
    return num != num

In [50]:
def get_avg_category_ratings(business_id):
    ohe_values = (df_business_updated.loc[df_business_updated['business_id'] == business_id])[['Restaurantsavg_rating', 'Shoppingavg_rating',
       'Foodavg_rating', 'Home Servicesavg_rating',
       'Health & Medicalavg_rating', 'Event Planning & Servicesavg_rating',
       'Local Servicesavg_rating', 'Beauty & Spasavg_rating',
       'Active Lifeavg_rating', 'Automotiveavg_rating', 'Nightlifeavg_rating',
       'Hotels & Travelavg_rating', 'Barsavg_rating',
       'Arts & Entertainmentavg_rating', 'Professional Servicesavg_rating',
       'Fashionavg_rating', 'Doctorsavg_rating', 'Home & Gardenavg_rating',
       'American (New)avg_rating', 'Mexicanavg_rating',
       'Coffee & Teaavg_rating', 'Hair Salonsavg_rating',
       'Sandwichesavg_rating', 'Breakfast & Brunchavg_rating',
       'Real Estateavg_rating', 'Auto Repairavg_rating',
       'Fitness & Instructionavg_rating']]

    return list(ohe_values.iloc[0])

In [46]:
def get_category(business_id):
  ohe_values = (df_business_updated.loc[df_business_updated['business_id'] == business_id])[['Restaurants', 'Shopping', 'Food',
       'Home Services', 'Health & Medical', 'Event Planning & Services',
       'Local Services', 'Beauty & Spas', 'Active Life', 'Automotive',
       'Nightlife', 'Hotels & Travel', 'Bars', 'Arts & Entertainment',
       'Professional Services', 'Fashion', 'Doctors', 'Home & Garden',
       'American (New)', 'Mexican', 'Coffee & Tea', 'Hair Salons',
       'Sandwiches', 'Breakfast & Brunch', 'Real Estate', 'Auto Repair',
       'Fitness & Instruction']]
  # ohe_list = 
  return list(ohe_values.iloc[0])

In [52]:
def preprocess_business():
    categories = ['Restaurants', 'Shopping', 'Food', 'Home Services',
                  'Health & Medical', 'Event Planning & Services',
                  'Local Services', 'Beauty & Spas', 'Active Life', 
                  'Automotive', 'Nightlife', 'Hotels & Travel', 'Bars', 
                  'Arts & Entertainment', 'Professional Services', 
                  'Fashion', 'Doctors', 'Home & Garden', 'American (New)', 
                  'Mexican', 'Coffee & Tea', 'Hair Salons', 'Sandwiches', 
                  'Breakfast & Brunch', 'Real Estate', 'Auto Repair', 'Fitness & Instruction']

    avg_category_rating = defaultdict(int)
    all_categories = defaultdict(int)
    num_category_reviews = defaultdict(int)
    df_new = df_business[['categories','stars', 'review_count']]

    
    df_business_updated = df_business.copy()
    
    for categ in categories:
        df_business_updated[categ] = 0

    for idx, row in df_business_updated.iterrows():
        # print(row)
        ll = row['categories']
        ll = str(ll)
        if ll and ll!='nan':
            categs = ll.split(',')
            for categ in categs:
                categ = categ.strip()
                if categ in categories:
                    df_business_updated.at[idx, categ] = 1

    for categ in categories:
        df_business_updated[categ+'avg_rating'] = 0.00
    
    for idx, row in df_new.iterrows():
        ll = row['categories']
        ll = str(ll)
        if ll and ll!='nan':
            categs = ll.split(',')
            for categ in categs:
                categ = categ.strip()
                all_categories[categ]+=1
                avg_category_rating[categ] += row['stars']
                num_category_reviews[categ] += row['review_count']

    for key, value in avg_category_rating.items():
        avg_category_rating[key] /= all_categories[key]

    for idx, row in df_business_updated.iterrows():
        for categ in categories:
            if df_business_updated.at[idx, categ] == 1:
                df_business_updated.at[idx, categ+'avg_rating'] = avg_category_rating[categ]
    
    return df_business_updated

In [104]:
def preprocess_user_data():

    user_id_to_fan = {}
    user_id_to_useful = {}
    user_id_to_funny = {}
    user_id_to_cool = {}
    user_id_to_num_friends = {}
    df_userdata_friends_rating = {}
    user_id_to_rating = {}

    df_userdata['elite'] = df_userdata['elite'].fillna("")

    df_userdata_friends = df_userdata['friends'].to_list()
    df_userdata_rating = df_userdata['average_stars'].to_list()
    df_userdata_user_ids = df_userdata['user_id'].to_list()
    df_userdata_fans = df_userdata['fans'].to_list()

    for i in range(0, len(df_userdata_user_ids)):
        user_id_to_fan[df_userdata_user_ids[i]] = [df_userdata_fans[i]]

    df_userdata_useful = df_userdata['useful'].to_list()

    for i in range(0, len(df_userdata_user_ids)):
        user_id_to_useful[df_userdata_user_ids[i]] = [df_userdata_useful[i]]

    df_userdata_funny = df_userdata['funny'].to_list()

    for i in range(0, len(df_userdata_user_ids)):
        user_id_to_funny[df_userdata_user_ids[i]] = [df_userdata_funny[i]]

    df_userdata_cool = df_userdata['cool'].to_list()

    for i in range(0, len(df_userdata_user_ids)):
        user_id_to_cool[df_userdata_user_ids[i]] = [df_userdata_cool[i]]
    
    df_userdata_friends = df_userdata['friends'].to_list()

    for i in range(0, len(df_userdata_user_ids)):
        user_id_to_num_friends[df_userdata_user_ids[i]] = [len(df_userdata_friends[i].split(", "))]
    
    for i in range(0, len(df_userdata_user_ids)):
        user_id_to_rating[df_userdata_user_ids[i]] = df_userdata_rating[i]

    for i in range(0, len(df_userdata_user_ids)):
        friend_list = df_userdata_friends[i].split(", ")
        total_stars = 0
        count = 0

        for friend in friend_list:
            if friend in user_id_to_rating.keys():
                total_stars += user_id_to_rating[friend]
                count += 1

        if (count != 0):
            df_userdata_friends_rating[df_userdata_user_ids[i]] = [total_stars/count]
        else:
            df_userdata_friends_rating[df_userdata_user_ids[i]] = [0]


    return user_id_to_fan, user_id_to_useful,\
           user_id_to_funny, user_id_to_cool, \
           user_id_to_num_friends, \
           df_userdata_friends_rating

In [105]:
def number_of_fans_lookup(id):
    return user_id_to_fan[id]

In [106]:
def number_of_useful_lookup(id):
    return user_id_to_useful[id]

In [107]:
def number_of_funny_lookup(id):
    return user_id_to_funny[id]

In [108]:
def number_of_cool_lookup(id):
    return user_id_to_cool[id]

In [109]:
def number_of_friends_lookup(id):
    return user_id_to_num_friends[id]

In [110]:
def friends_rating_lookup(id):
    return df_userdata_friends_rating[id]

In [111]:
def preprocess_reviews():
    review_timestamps = df_reviews['date'].tolist()
    review_id = df_reviews['review_id'].to_list()
    review_years = [((int)(a[:4])) for a in review_timestamps]
    review_year_vector = {}

    for i in range(0, len(review_years)):
        one_hot_vector = [0]*18
        one_hot_vector[review_years[i]-2005] = 1
        review_year_vector[review_id[i]] = one_hot_vector

    review_months = [((int)(a[5:7])) for a in review_timestamps]
    review_month_vector = {}

    for i in range(0, len(review_months)):
        one_hot_vector = [0]*4
        one_hot_vector[(int)((review_months[i]-1)/3)] = 1
        review_month_vector[review_id[i]] = one_hot_vector

    return review_year_vector, review_month_vector

In [112]:
def year_feature_lookup(id):
    return review_year_vector[id]

In [113]:
def month_feature_lookup(id):
    return review_month_vector[id]

In [99]:
df_business_updated = preprocess_business()

In [119]:
user_id_to_fan, user_id_to_useful,\
user_id_to_funny, user_id_to_cool, \
user_id_to_num_friends, \
df_userdata_friends_rating = preprocess_user_data()

In [101]:
review_year_vector, review_month_vector = preprocess_reviews()

In [129]:
def feat(uid, bid, rid, year):
    rc_b = get_review_count_business(bid)
    rc_u = get_review_count_user(uid)
    elite = get_elite_in_year(uid, year)
    yelping = get_yelping_since(uid, year)
    b_stars = get_business_stars(bid)
    u_stars = get_average_stars(uid)
    n_elite = get_num_elite_years(uid)
    avg_categ_ratings = get_avg_category_ratings(bid)
    categ = get_category(bid)
    n_fans = number_of_fans_lookup(uid)
    n_useful = number_of_useful_lookup(uid)
    n_funny = number_of_funny_lookup(uid)
    n_cool = number_of_cool_lookup(uid)
    n_friends = number_of_friends_lookup(uid)
    ave_rating_fr = friends_rating_lookup(uid)
    year_vector = year_feature_lookup(rid)
    month_vector = month_feature_lookup(rid)

    feat_vec = rc_b + rc_u + elite + yelping + b_stars + u_stars + \
            n_elite + avg_categ_ratings + categ + n_fans + n_useful + \
            n_funny + n_cool + n_friends + ave_rating_fr + year_vector + \
            month_vector

    return np.array(feat_vec)

In [131]:
uid, bid, rid, year = "wSTuiTk-sKNdcFyprzZAjg", "B5XSoSG3SfvQGtKEGQ1tSQ", "ZKvDG2sBvHVdF5oBNUOpAQ", 2016
feat(uid, bid, rid, year)

array([13.        , 24.        ,  0.        ,  1.        ,  4.        ,
        1.84      ,  1.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        4.39701897,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  1.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        , 31.        ,  8.        ,  2.        ,
        1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  1.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        1.        ,  0.        ,  0.        ,  0.        ])

In [67]:
df_reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,ZKvDG2sBvHVdF5oBNUOpAQ,wSTuiTk-sKNdcFyprzZAjg,B5XSoSG3SfvQGtKEGQ1tSQ,3.0,1,1,0,This easter instead of going to Lopez Lake we ...,2016-03-30 22:46:33
1,pUycOfUwM8vqX7KjRRhUEA,59MxRhNVhU9MYndMkz0wtw,gebiRewfieSdtt17PTW6Zg,3.0,0,0,0,Had a party of 6 here for hibachi. Our waitres...,2016-07-25 07:31:06
2,eCiWBf1CJ0Zdv1uVarEhhw,OhECKhQEexFypOMY6kypRw,vC2qm1y3Au5czBtbhc-DNw,4.0,0,0,0,Yes this is the only sushi place in town. How...,2013-09-04 03:48:20
3,YbMyvlDA2W3Py5lTz8VK-A,4hBhtCSgoxkrFgHa4YAD-w,bbEXAEFr4RYHLlZ-HFssTA,5.0,0,0,0,Great burgers fries and salad! Burgers have a...,2017-01-02 03:17:34
4,L0jv8c2FbpWSlfNC6bbUEA,bFPdtzu11Oi0f92EAcjqmg,IDtLPgUrqorrpqSLdfMhZQ,5.0,0,0,0,What a great addition to the Funk Zone! Grab ...,2016-10-13 22:50:47